<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1 align="center" style="margin-bottom: 20px; margin-top: 20px">
        File manager
    </h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">
                        {% for folder in folder_links %}
                            /
                            <a href="/{{ folder.link }}">{{ folder.name }}</a>
                        {% endfor %}
                    </th>
                    <th scope="col">Размер</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <th scope="row">
                            <a href="/{{ file.link }}">{{ file.name }}</a>
                        </th>
                        <th scope="row">{{ file.size }} kb</th>
                        <th scope="row">

                            <a href="/delete/{{ file.link }}">
                                <button type="button" class="btn btn-danger">
                                    Удалить
                                </button>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card">
                <div class="card-header">
                    Редактирование
                </div>
                <div class="card-body">
                    <form class="form-inline" action="{% url 'create_folder' %}"
                          method="post">
                        {% csrf_token %}
                        {{ folder_form }}
                        <button type="submit" class="btn btn-success">Создать
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <form class="form-inline" action="{% url 'upload_file' %}"
                          method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ file_form }}
                        <button type="submit" class="btn btn-success">Загрузить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>